@font-face {
  font-family: 'iconfont';
  /* project id 2017262 */
  src: url("../static/iconfont/iconfont.eot");
  src: url("../static/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../static/iconfont/iconfont.woff2") format("woff2"), url("../static/iconfont/iconfont.woff") format("woff"), url("../static/iconfont/iconfont.ttf") format("truetype"), url("../static/iconfont/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: 'iconfont'; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ol {
  list-style: none; }

.main_body .container {
  padding: 0; }

.container {
  width: 1180px;
  overflow-x: hidden; }

.body-innerwrapper section > .container > .row > div {
  padding-left: 0;
  padding-right: 0; }

.body-innerwrapper section.main_body > .container > .row > div {
  padding-left: 15px;
  padding-right: 15px; }

.breadcrumb li a {
  color: #474747;
  text-decoration: none; }

#sp-breadcrumbs {
  float: left;
  margin: 0 0 10px;
  padding: 10px 0;
  width: 100%;
  background: #f7f7f7; }

.breadcrumb {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

.breadcrumb li {
  float: left;
  margin: 0;
  padding: 0 10px;
  position: relative;
  font-size: 12px;
  color: #474747; }

.breadcrumb > li + li:before {
  content: "";
  padding: 0; }

.breadcrumb li:after {
  content: "/";
  position: absolute;
  right: 0; }

.breadcrumb li:last-child:after, .breadcrumb > li + li:before {
  content: "";
  padding: 0; }

.breadcrumb > li + li:before {
  content: "";
  padding: 0; }

.main_body .myaccount_body_section .promotion_page .promotion_right_div .page_heading {
  float: left;
  width: 100%;
  padding: 0;
  font-size: 24px;
  color: #474747;
  border-bottom: 1px solid #d7d8da; }

.main_body .myaccount_body_section {
  float: left;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  min-height: 500px; }

.main_body .myaccount_body_section .promotion_page .promotion_right_div {
  float: right;
  width: 800px;
  margin: 0;
  padding: 0; }

.main_body .myaccount_body_section {
  float: left;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  min-height: 500px; }

.sub_title {
  float: left;
  width: 100%;
  padding: 30px 0 15px 0;
  margin: 0;
  font-size: 15px;
  color: #8a1c03;
  font-family: ubuntubold;
  font-weight: bolder; }

.para_text {
  font-size: 15px;
  color: #474747; }

.body-innerwrapper section.main_body > .container > .row > div {
  padding-left: 15px;
  padding-right: 15px; }

.red_txt {
  color: red; }

.black_txt {
  color: black; }

.to-top {
  position: fixed;
  z-index: 999;
  bottom: 80px;
  right: 50px;
  display: none; }

.to-top > img {
  width: 30px;
  height: 30px; }

.tips {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  border-left: 4px solid #ccc; }

#sp-left ul.nav {
  width: 100%;
  padding: 20px 0;
  margin: 0; }

#sp-left ul.nav li {
  width: 100%;
  border-top: 1px solid #ebebeb;
  margin: 0;
  line-height: 40px;
  list-style: none;
  position: relative;
  float: left; }

#sp-left ul.nav li:first-child {
  border: 0; }

#sp-left ul.nav li:hover {
  background: 0 0; }

#sp-left ul.nav li:hover > ul > li, #sp-left ul.nav ul li {
  height: auto; }

#sp-left ul.nav li a {
  padding: 9px 10px 9px 25px;
  font-size: 14px;
  color: #474747;
  text-decoration: none;
  position: relative;
  width: 100%;
  float: left; }

#sp-left ul.nav li.active > a {
  background: #4b1102;
  color: #fff;
  position: relative; }

#sp-left ul.nav li.active > a::after {
  border-bottom: 20px solid #fff;
  border-left: 15px solid #4b1102;
  border-top: 20px solid #fff;
  content: "";
  position: absolute;
  right: -15px;
  top: 0; }

#sp-left ul.nav li.active.parent:before {
  color: #fff; }

#sp-left ul.nav li a {
  width: 100%;
  border-bottom: 0;
  line-height: 22px; }

#sp-left ul.nav > li.parent > a {
  padding-right: 40px; }

#sp-left ul.nav ul li a {
  padding: 0 0 0 40px;
  background: #f6f6f6; }

#sp-left ul.nav ul li:first-child {
  border-top: 1px solid #ebebeb; }

#sp-left ul.nav ul ul li a {
  padding-left: 35px; }

#sp-left ul.nav ul li a {
  color: #6a6969;
  background: #f6f6f6;
  padding-bottom: 9px;
  padding-top: 9px; }

#sp-left ul.nav ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  display: none;
  padding: 0; }

#sp-left ul.nav #head-mobile {
  display: block;
  padding: 23px;
  color: #ddd;
  font-size: 12px;
  font-weight: 700; }

#sp-left ul.nav .parent:before {
  position: absolute;
  top: 0;
  right: 12px;
  display: block;
  color: #2b3241;
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 22px;
  z-index: 10; }

#sp-left ul.nav .parent.open:before {
  content: "\f0d8";
  color: #2b3241; }

#sp-left ul.nav ul ul li.active a {
  border-left: none; }

#sp-left ul.nav ul > li.parent > ul > li.active > a, #sp-left ul.nav > li.has-sub > ul > li.active > a {
  border-top: none; }

#sp-left ul.nav li img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }

#sp-left ul.nav li img {
  display: block; }

#sp-left ul.nav li img {
  margin-top: 0; }

@media screen and (max-width: 1080px) {
  .main_body .myaccount_body_section .promotion_page .promotion_right_div {
    width: 100%;
    padding: 0 20px; } }
@media only screen and (max-width: 1080px) {
  #sp-component {
    width: 100%; }

  .container {
    width: 100%; }

  #sp-left {
    display: none; } }

/*# sourceMappingURL=template.css.map */
